/* Custom Variables */

:root {
    /* Colors */
    --clr-dark-bn: #133316;
    --clr-orange: #dcae32;
    --clr-main: #f3ede5;
    --clr-white: #fff;
    --clr-black: #605c5c;

    /* Fonts */
    --ff-sans: 'Inter', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: var(--clr-main);
    font-family: var(--ff-sans);
}


/* 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 8%;
    background: transparent;
    transition: all .5s ease;
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar a {
    font-size: .9em;
    text-decoration: none;
    color: var(--clr_black);
    padding: 1.5em;
    font-weight: 500;
    transition: all .5s ease;
}

.header .main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main a {
    text-decoration: none;
    text-align: center;
    color: var(--clr_black);
    padding: 6% 1.8em;
    margin: 0;
    font-weight: 500;
}

.main .free {
    color: var(--clr-white);
    font-size: 14px;
    font-weight: 600;
    background-color: var(--clr-dark-bn);
    border-radius: 4px;
}

#menu-icon {
    font-size: 2.5em;
    cursor: pointer;
    background: url(./Assets/Menu.svg) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 9999;
    

/* @media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0 20px;
    }
} */

/* @media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }
} */ 

header {
    background: transparent;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
    gap: 50%;
    z-index: 999;
    width: 100%;
}


.nav-toggle {
    display: none;
}

.nav-toggle-label {
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span:before,
.nav-toggle-label span:after {
    display: block;
    background: var(--clr-dark-bn);
    height: 3.2px;
    width: 1.5em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span:before,
.nav-toggle-label span:after {
    content: '';
    position: absolute;
}

.nav-toggle-label span:before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: right;
    top: 4rem;
    right: .5em;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: .5em;
    margin-right: 1em;
}


nav a {
    color: var(--clr-black);
    text-decoration: none;
    font-size: .7em;
    opacity: 0; 
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--clr-dark-bn);
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 200ms ease-in-out 200ms;
}


.intro {
    font-size: 1.8rem;
    padding: 1em .6em;
    font-weight: 700;
    line-height: 1.3;
    width: 85%;
}
.intro span {
    color: var(--clr-orange);
}

.desc {
    margin: -20px 0;
    padding: 0 1.2em;
    line-height: 1.4;
    color: var(--clr-black);
    opacity: 80%;
}

.free {
    color: var(--clr-white);
    font-size: 14px;
    font-weight: 600;
    background-color: var(--clr-dark-bn);
    border-radius: 4px;
    margin: 10% 5%;
    padding: 1.2em 2.2em;
    border: 0;
}

.rating {
    padding: 0 1.2em;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3%;
}

.rating p {
    font-size: .9em;
    color: var(--clr-black);
    opacity: 80%;
}

.comp-logo {
    display: flex;
    gap: 15%;
    
}

.comp-logo img {
    width: 25px;
    aspect-ratio: 1;
}

footer {
    margin: 10% 0;
    padding: 2em 1.2em;
}

footer p {
    text-align: center;
    font-size: .9em;
    color: var(--clr-black);
    opacity: 80%;
}

.comps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    padding: 1.5em 0;
}

.row img {
    padding: .4em 0;
    width: 100%;
    
}

.main {
    display: none;
}



